.header {
    display: flex;
    justify-content: start;
}
﻿
.Create {
    align-content: center;
    S
}

.row {
    background-color: #ddb8b8;
    justify-content: center
}

.icon {
    height: 45px;
    width: 45px;
    padding-top: 10px;
}

.form-group {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    padding: 10px;
}
.form-control{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    resize:vertical;
}
/*.btn-danger{
    width: 64px;
    height: 38px;
    margin-left: 220px;
    border-radius: 0.25rem;
}*/
.buttons {
    text-align: center;
}

.back {
    padding-right: 192px;
}
.control-label {
}


